@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  overflow-x: hidden;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float-logo {
  animation: float 5s ease-in-out infinite;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #22d3ee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}